@model IEnumerable<EasyHRM.Core.DataModel.AllowanceTypeModel>
@{
    ViewData["Title"] = "Allowance/Deduction Type List";
    int i = 1;
}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Allowance/Deduction Type List</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="AllowanceTypeList" asp-controller="PayRoll">Home</a></li>
            <li class="breadcrumb-item active">Allowance/Deduction Type List </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                @*<h4 class="card-title">Bordered Table</h4>
                    <h6 class="card-subtitle">Add<code>.table-bordered</code>for borders on all sides of the table and cells.</h6>*@
                <div class="">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Allowance/Deduction Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <p>@item.AllowanceTypeName</p>
                                    </td>

                                    <td class="text-nowrap">
                                        <a data-toggle="tooltip" data-val-id="@item.Id" data-original-title="Edit" class="btnEdit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <a data-toggle="tooltip" data-original-title="Delete" asp-controller="PayRoll" asp-action="DeleteAllowanceType" asp-route-id="@item.Id" onclick="return confirm('are you sure want to delete?')"> <i class="fa fa-close text-danger"></i> </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form asp-controller="PayRoll" asp-action="AllowanceTypeList" method="post">
                    <div class="form-group">
                        <label for="Name">Allowance/Deduction Type</label>
                        <input type="hidden" name="Id" value="0" id="inputId" />
                        <input type="text" name="AllowanceTypeName" class="form-control" id="Name" placeholder="Enter Allowance/Deduction Type Name">
                        @Html.ValidationMessage("AllowanceTypeName", "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" id="btnSave" class="btn btn-sm btn-success waves-effect waves-light "><i class="fa fa-plus"></i> Add</button>
                    <button type="button" id="btnCancel" class="btn btn-sm btn-danger waves-effect waves-light "><i class="fa fa-remove"></i> Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnEdit").click(function () {
                var id = parseInt($(this).attr("data-val-id"));
                var name = $.trim($(this).closest('tr').children('td:eq(1)').text());
                if (name !== "" && id !== null) {
                    $("#Name").val(name);
                    $("#inputId").val(id);
                    $("#btnSave").html('<i class="fa fa-plus"></i> Update');
                }

            });

            $("#btnCancel").click(function () {
                $("#btnSave").html('<i class="fa fa-plus"></i> Add');
                $("#inputId").val('0');
                $("#Name").val("");
            });
        });
    </script>
}